{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Qui sommes nous ?{% endblock %}
{% block description %} Apprenez a mieux nous connaitre{% endblock %}
{% block keywords %}info, site, outils, artisant, français{% endblock %}
{% block style %}<link rel="stylesheet" href="/styles/about_us.css">{% endblock %}


{% block main %}
<section class="container-fluid d-flex justify-content-center">
            <div class="w-75 mt-5">
                <div id="pres" class="d-flex justify-content-center container-fluid p-0 ">
                    <h2 class="text-center "> QUI SOMMES-NOUS ? </h2>
                </div>
            </div>
</section>
        <section class=" container-fluid d-flex justify-content-center mt-5">
            <div id="grille" class=" w-75 d-flex flex-column align-items-center container-fluid">
            <section id="section1" class="d-flex">
                <div class="col-md-7  m-1 d-flex flex-column align-items-center justify-content-center px-md-5 me-md-5">
                     <p class="fw-bold h3 mb-4 ">
                    Introduction
                    </p>
                    <p class="h5 fw-normal texte">
                        Bienvenue chez Canap'Plus, votre destination ultime pour le confort et l'élégance. En tant que spécialistes des canapés haut de gamme, nous nous engageons à offrir à nos clients une expérience unique et luxueuse. Découvrez notre histoire, notre gamme de produits et notre engagement envers la satisfaction de nos clients. 
                    </p>
                </div>
                <div class="col-md-5 ms-md-5 m-1">
                     <img src="/images/collection-outils-charpentier.jpg"  alt="outils-cordonnier" / >
                </div>
            </section>
            <section id="section2" class="d-flex mt-5">
                <div class="order-md-2 col-md-7   m-1 d-flex flex-column align-items-center justify-content-center px-md-5 px-sm-1">
                     <p class="fw-bold h3 mb-4 ">
                        Notre histoire
                    </p>
                    <p class="h5 fw-normal texte">
                        Fondée en 2015 par le visionnaire du design intérieur, Alexandre Dupont, Canap'Plus est née de la passion pour le mobilier de qualité. Notre entreprise a commencé modestement dans un petit atelier, mais elle a rapidement gagné en réputation grâce à son savoir-faire artisanal et à son attention aux détails. Aujourd'hui, nous sommes fiers d'être l'un des principaux fabricants de canapés sur mesure en France. 
                    </p>
                </div>
                <div class=" order-md-1 col-md-5 ms-md-3 m-1">
                     <img  src="/images/gros-plan-cordonnier-coupe-cuir.jpg"  alt="main-cordonnier"  /></div>
            </section>
            <section id="section3" class="d-flex mt-5">
                <div class="order-md-1 col-md-7  m-1 d-flex flex-column align-items-center justify-content-center px-md-5 me-md-5">
                     <p class="fw-bold h3 mb-4  ">
                        Notre engagement
                    </p>
                    <p class="h5 fw-normal texte">
                        Chez Canap'Plus, nous croyons que le confort ne devrait jamais être compromis. C'est pourquoi nous utilisons des matériaux de haute qualité, des techniques de fabrication de pointe et un service client exceptionnel. Chaque canapé est conçu avec soin et précision pour répondre aux attentes les plus élevées de nos clients
                    </p>
                </div>
                <div class=" order-md-2 col-md-4 ms-md-5 m-1"> 
                <img src="/images/homme-dans-studio-cree-articles-cuir.jpg"  alt="cordonnier" /></div>
            </section>
            </div>
        </section>
{% endblock %}
