<h1>Bonjour</h1>

<p>
    Nous vous confirmons la réception de votre commande.
</p>
<p>
    Un nouveau mail vous sera envoyé lorsque le produit sera disponible pour le retrait au magasin.
</p>
<p>
   L'ensemble de l'équipe Canap'plus vous remercie pour votre achat.
</p>    




<p>L'équipe Canap'plus</p>