{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Envoi de la demande réussie{% endblock %}
{% block description %}Page d'affichage qui permet a l'utilisateur d'avoir la confirmation de l'envoie de sa demande{% endblock %}
{% block keywords %}Email, demande, envoi, contact{% endblock %}

{% block main %}
     <h1 class="text-center my-3 display-5">Demande de contact envoyée</h1>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <p>Votre demande a bien été prise en compte.</p>
                <p>Une réponse sera faite par nos équipes dans les plus bref delais</p>
                <p>Canap'plus</p>
            </div>          
        </div>
    </div>
{% endblock %}