{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Nos produits{% endblock %}
{% block description %} Decouvrez nos produits mis en vente.{% endblock %}
{% block keywords %}info, site, produit, artisant, français, cannapé{% endblock %}
{% block style %}<link rel="stylesheet" href="/styles/product.css">{% endblock %}

  {% block main %}
<style type="text/css">
.bloc {
   position:relative;
   height:500px;
   width:500px;
  
}
.bloc a {
   display:none;
   position:absolute;
   color:#fff;
   left:180px;
   top:230px;
}
.bloc h3 {
  display: none;
  position:absolute;
  left: 200px;
  top: 90px;
}
.bloc:hover a {
   display:block;
   
   background-color: #f5f5f5;
   color : black;
   width: 125px;
   height :45px;
   border-radius:5px;
}
.bloc:hover h3{
   display:block;
   margin: 0 auto;
  }
.bloc a:hover {
    color: #eee;
    background-color: #000;
}
.bloc:hover img{
  opacity: 0.15; 
  transition: opacity 0.25s ease-in-out; 
  background-color: rgba(0,0,0,0); 
  color: white;
  
}
@media screen and (max-width : 768px) {
    .bloc{
      height:300px;
      width:300px;
      
    }
    .ColumnView{
        display: flex !important;
        flex-direction: column !important;
        margin: 0 auto!important;
    }
    .bloc a {
   display:none;
   position:absolute;
   color:#fff;
   left:90px !important;
   top:230px;
}
.bloc h3 {
  display: none;
  position:absolute;
  left: 115px;
  top: 90px;
}
  
}
        </style>


    <div class=" my-5 ">
        <h2 class="text-center fs-1 fw-bold mb-5">Nos nouveautés</h2>
    </div>
    <div class="container-fluid">
      <div  class="row mx-auto ">
          {% for product in products %}
          <div class="col-md-6 col-lg-4 col-sm-6 ">
            <div class=" bloc mb-2   mx-auto">
              <h3>{{product.name}}</h3>
              <img class="img-fluid px-1 " src="{{vich_uploader_asset(product, 'imageFile')}}" alt="{{product.name}}">
              <a class="btn" href={{path('app_product_client_detail', {'id':product.id , 'slug':product.slug})}}>Voir plus</a>
            </div>
          </div> 
          {% endfor %}
      </div>
    </div>
{% endblock %}